/**
 * Code7 Theme based on Spring Night
 *
 * @author: Peter Hellberg <peter@c7.se>
 * @description: Ignoring unimportant stuff like join, part and quit messages
 */

html {
  font-family: 'Monaco';
  font-size: 10pt;
  background-color: #000;
  color: #f0f0f0;
  line-height: 1.4em;
}
body {}

.url { color: #99cf50; }
.address {}
.highlight {
  font-weight: normal;
  color: #e28964;
}

.line {}
.line[alternate=even] {}
.line[alternate=odd] {
  background: #050505;
}
.line[highlight=true] {
  background: #111;
}

/* Handle the overload of non important messages by ignoring them */
.line[type=join], .line[type=part], .line[type=quit], .console .time { display: none; }

.console { font-size: 8pt; }
.time { color: #222; }
.place { color: #3387bc; }

.sender[type=normal] { color: #3e87e3; }
.sender[type=myself] { color: #89bdff; }

.message[type=privmsg] {}
.message[type=notice] { color: #888; }
.message[type=action] { color: #8f9d6a;}

.message[type=system], .message[type=join], .message[type=part], .message[type=kick],
.message[type=quit], .message[type=kill], .message[type=nick], .message[type=mode],
.message[type=topic], .message[type=invite], .message[type=wallops] {
  color: #333;
}
.message[type=reply] { color: #509036; }

.message[type=error], .message[type=error_reply] { color: #f67b37; }
.message[type=dcc_send_send] { color: #c5af75; }
.message[type=dcc_send_receive] { color: #f9ee98; }
.message[type=debug_send] { color: #8996a8; }
.message[type=debug_receive] { color: #afc4db; }
